@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --body: #f8fafc;
  --card: #ffffff;
  --primary: #3b82f6;
  --secondary: #e2e8f0;
  --text: #1f1f1f;

  --gray: rgb(170, 178, 191, 0.16);
  --green: rgba(34, 197, 94, 0.46);
  --yellow: rgba(234, 179, 8, 0.46);
  --red: rgba(239, 68, 68, 0.46);

  --sm-spacing: 0.5rem;
  --md-spacing: 1rem;
  --lg-spacing: 2rem;

  --sm-text: 0.75rem;
  --md-text: 1rem;
  --lg-text: 1.5rem;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --1: #27272a;
    --2: #ffffff;
    --3: #2094f380;
  }
} */

body {
  height: 100dvh;
  max-width: 1366px;
  max-height: 768px;

  background-color: var(--body);
  padding: var(--lg-spacing);
  position: fixed;
  top: 50%;
  bottom: 50%;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'file-section overview-section'
    'day-section overview-section';
  gap: var(--lg-spacing);
  place-self: center;

  font-family: 'Inter', sans-serif;
  font-size: var(--md-text);
  color: var(--text);

  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.card {
  height: 100%;
  padding: var(--lg-spacing);
  position: relative;

  display: flex;
  flex-direction: column;

  background-color: var(--card);
  border: 2px solid var(--secondary);
  border-radius: var(--md-spacing);
}
.card > h3 {
  margin-bottom: var(--sm-spacing);

  font-size: var(--lg-text);
  font-weight: 600;
}
.card > p {
  opacity: 0.8;
  margin-bottom: var(--lg-spacing);
}

.file-section {
  grid-area: file-section;
  height: fit-content;

  transition: all 0.3s ease-in-out;
}
.file-section label {
  width: max-content;
  height: 100%;
  padding: var(--lg-spacing);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-weight: 500;

  border: 2px dashed var(--secondary);
  border-radius: var(--md-spacing);
  transition: all 0.3s ease-in;
}
.file-section label figure {
  width: 3rem;
  height: 3rem;
  margin-bottom: var(--lg-spacing);

  display: grid;
  place-items: center;

  background-color: var(--primary);
  border-radius: 10rem;
}
.file-section label figure svg {
  width: var(--lg-text);
  fill: var(--card);
}
.file-section label:hover {
  border-style: solid;
  border-color: var(--primary);
  color: var(--primary);
  fill: var(--primary);
  cursor: pointer;
}
.file-section label p span {
  color: var(--primary);
}
.file-section label > span {
  margin-top: var(--md-spacing);
  font-size: var(--sm-text);

  opacity: 0.5;
}
.file-section div {
  padding: var(--sm-spacing) var(--md-spacing);

  position: absolute;
  right: var(--lg-spacing);
  top: var(--lg-spacing);

  font-weight: 500;

  background-color: var(--gray);
  border-radius: var(--md-spacing);
}

.day-section {
  grid-area: day-section;
  width: 100%;
}
.day-section section {
  width: 100%;
  height: 100%;

  display: flex;
  gap: var(--md-spacing);
}
.day-section section label {
  width: 100%;
  height: 100%;
  padding: var(--md-spacing);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--md-spacing);

  font-weight: 400;
  color: var(--text);

  background-color: var(--gray);
  border-radius: var(--md-spacing);
  cursor: pointer;

  transition: all 0.3s ease-in-out;
}
.day-section section label span:nth-child(2) {
  font-weight: 600;
}
.day-section section input[type='radio']:checked + label {
  color: var(--card);
  background-color: var(--primary);
}

.overview-section {
  grid-area: overview-section;

  width: 100%;
  height: 100%;
}
.overview-section header {
  width: 100%;
  margin-bottom: var(--lg-spacing);

  display: flex;
  gap: var(--md-spacing);
}
.overview-section header section {
  width: 100%;
}
.overview-section header section > h3 {
  margin-bottom: var(--sm-spacing);

  font-size: var(--lg-text);
  font-weight: 600;
}
.overview-section header section > p {
  opacity: 0.8;
}
.overview-section button {
  height: fit-content;
  padding: var(--md-spacing);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--md-spacing);

  background-color: var(--primary);
  color: var(--card);
  fill: var(--card);

  font-weight: 600;
  border-radius: var(--md-spacing);
  cursor: pointer;

  transition: all 0.3s ease-in-out;
}
.overview-section button:nth-child(3) {
  color: var(--text);
  fill: var(--text);
  background-color: var(--gray);
}
.overview-section button svg {
  height: 100%;
}
.overview-section button:hover {
  transform: translateY(-2px);
}
.overview-section button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.overview-section > main {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: var(--lg-spacing);

  overflow: hidden;
}
.overview-section .kpi-section {
  display: flex;
  gap: var(--md-spacing);
}
.overview-section .kpi-section div {
  width: 100%;
  height: fit-content;
  padding: var(--md-spacing);

  display: flex;
  flex-direction: column;
  gap: var(--md-spacing);
  font-weight: 400;

  background-color: var(--gray);
  border-radius: var(--md-spacing);
}
.overview-section .kpi-section div span {
  font-size: var(--md-text);
  font-weight: 600;
}
.overview-section .teams-section {
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: var(--md-spacing);
}
.overview-section .teams-section ul {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: var(--sm-spacing);

  overflow-y: auto;
}
.overview-section .teams-section ul li {
  padding: var(--sm-spacing) var(--md-spacing);

  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
  gap: var(--md-spacing);

  font-size: var(--sm-text);
  font-weight: 400;

  background-color: var(--gray);
  border-radius: var(--md-spacing);
  overflow: hidden;
  pointer-events: none;
}
.overview-section .teams-section ul li[title] {
  cursor: zoom-in;
  pointer-events: all;
}
.overview-section .teams-section ul li div {
  padding: var(--sm-spacing);

  display: grid;
  place-items: center;

  font-weight: 600;

  background-color: inherit;
  border-radius: var(--sm-spacing);
}
.overview-section .teams-section ul .low-value {
  background-color: var(--green);
}
.overview-section .teams-section ul .mid-value {
  background-color: var(--yellow);
}
.overview-section .teams-section ul .high-value {
  background-color: var(--red);
}

#modal {
  width: 400px;
  padding: var(--lg-spacing);

  position: fixed;
  top: var(--md-spacing);
  left: var(--md-spacing);

  font-size: var(--md-text);
  font-weight: 600;
  text-wrap: pretty;

  background-color: var(--body);
  border: 2px solid var(--secondary);
  border-radius: var(--md-spacing);

  transform: translateX(-200%);
  transition: all 0.5s ease-in-out;
}

#modal.show {
  transform: translateX(0);
}
