@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --1: #efefef;
  --2: #1f1f1f;
  --3: #dcdcdc;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Inter', sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;

  background-color: var(--1);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.app-container {
  width: auto;
  height: 90%;
  max-width: 1280px;
  max-height: 720px;

  display: grid;
  gap: 1rem;
  grid-template-rows: 0.25fr 2fr;
  grid-template-areas:
    'header'
    'main';
}
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;

  grid-area: header;
}
main {
  grid-area: main;

  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content auto auto;
  grid-template-areas:
    'file textarea'
    'date textarea'
    'button textarea';
}
.file-uploader {
  grid-area: file;
}
.date-selector {
  grid-area: date;
}
.button-container {
  grid-area: button;
}
textarea {
  grid-area: textarea;
}

.card {
  width: 100%;
  height: 100%;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  border: 2px solid var(--3);
  border-radius: 1rem;
}
.file-uploader {
  cursor: pointer;
}
.file-uploader input {
  display: none;
}
.file-uploader > * {
  text-wrap: pretty;
  pointer-events: none;
}
.file-uploader button,
.date-selector input,
button {
  width: 100%;
  padding: 0.6rem;

  font-size: 1rem;
  font-weight: 500;
  text-align: center;

  outline: none;
  cursor: pointer;
  border: none;

  color: var(--1);
  background-color: var(--2);
  border-radius: 0.6rem;
}
.date-selector input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
.date-selector input[type='date']::-webkit-datetime-edit-fields-wrapper,
input[type='date']::-webkit-datetime-edit-text,
input[type='date']::-webkit-datetime-edit-month-field,
input[type='date']::-webkit-datetime-edit-day-field,
input[type='date']::-webkit-datetime-edit-year-field {
  background: none !important;
  color: inherit !important;
  pointer-events: none; /* Crucial: hace que los números no reaccionen al clic */
}
.button-container span {
  font-size: 0.8rem;
  opacity: 0.6;
}
.start-button-container,
.copy-button-container,
.start-button-container button,
.copy-button-container button {
  width: 100%;
}
.copy-button-container button {
  color: var(--2);
  background-color: transparent;
  border: 2px solid var(--2);
}
textarea {
  min-width: fit-content;
  font-size: 0.75rem;
  font-weight: 500;

  overflow: hidden;
  field-sizing: none;
  resize: none;
  outline: none;

  background-color: transparent;
}
